.info {
  min-height: 738px;
  padding-top: 110px;
  padding-bottom: 100px;
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info__block {
  max-width: 748px;
  padding: 40px 50px;
  padding-left: 60px;
  padding-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  
  .title {
    margin-bottom: 32px;
  }
  
  p {
    margin-bottom: 25px;
  }
}
