.page {
  width: 847px;
}

.page__heading {
  margin-top: -7px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
}

.page__list {
  .reset();
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
}

.page__item {
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgb(221, 221, 221);
  
  time {
    width: 140px;
    font-size: 16px;
  }
  
  a {
    width: 110px;
    color: #2f80ed;
    text-align: center;
    font-size: 16px;
    align-self: center;
    
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  
  &:last-child {
    border-bottom: none;
  }
}

.page__title {
  width: 305px;
  margin-right: auto;
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }
}

.page__score {
  margin: 0 auto;
  margin-right: 60px;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 600;
  color: #2f80ed;
  border: 2px solid #2f80ed;
  border-radius: 5px;
}
